name: Scheduled Health Check

# Controls when the action will run.
on:
  schedule:
    - cron: "0,15,30,45 * * * *" # 96/day

jobs:
  health_check:
    runs-on: ubuntu-latest
    name: Check all sites
    steps:
      - uses: actions/checkout@v3
      - name: Run Shell Script
        id: run_shell_script
        run: bash ./health-check.sh
